* {
    -default: rgb(255, 255, 255);
    -default-inv: rgb(0, 0, 0);
    
    -gray: rgb(75, 75, 75);
    -dk-gray: rgb(25, 25, 25);
    
    -primary: rgb(81,139,203); // #518BCB
    -dk-primary: rgb(61,119,183); // #518BCB
    
    -default-text: rgb(0, 0, 0);
}