@import "font.fx.css";
@import "svg.fx.css";

@import "colors.fx.css";
@import "light.fx.css";

@import "button.fx.css";

.root {
    -fx-background: -default;
    -fx-backround-radius: 20;
    -fx-border-radius: 20;
}

.root.transparent {
    -fx-background: transparent;
}

.windowShadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .15), 18, 0, 0, 4);
    -fx-fill: -default;
}

.s, .sd {
    -fx-background-color: -default-inv;
    -fx-border-width: 0;
}

.s:hover {
    -fx-background-color: -primary;
}