.svg.minimize {
    -fx-shape: "M6.2,7.6l6.2-6.2L10.9,0L6.2,4.7c0,0,0,0,0,0s0,0,0,0L1.7,0.2L1.4,0L0,1.4L6.2,7.6z";
}

.svg.maximize {
    -fx-shape: "M10,2v8H2V2H10 M12,0H0v12h12V0L12,0z";
}

.svg.close {
    -fx-shape: "M 7.75 6.34375 L 6.34375 7.75 L 10.59375 12 L 6.34375 16.25 L 7.75 17.65625 L 12 13.40625 L 16.25 17.65625 L
        17.65625 16.25 L 13.40625 12 L 17.65625 7.75 L 16.25 6.34375 L 12 10.59375 Z";
}